@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans&display=swap');

/*Default cleaning :*/
* {
  margin: 0;
}


body {
  background-color: black;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.left-container {
  /*flex: 1;*/
  width: 100%;
  color: white;
  min-width: 300px;
  border: red solid 1px ;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.theme-form-wrapper {
  margin-top: auto;
}

.right-container {
  /*flex: 1;*/
  width: 100%;
  /*min-width: 300px;*/
  border: yellow solid 1px ;
  color: white;
}

.work-card {

}

.work-description {

}

.work-screenshot {
  width: 100%;
}

@media screen and (min-width:640px) {
  .left-container {
    background-color:blue;
    color:red;
    flex: 0;
    min-width: 200px;
    height: 100vh;
  }

  .right-container {
    flex: 1;
  }
}

@media screen and (min-width:1024px) {
  .left-container {
    background-color:orange;
    color:green;
    min-width: 270px;
    align-self: flex-start;
  }

  .work-card {
    background-color: lightgreen;
    border: blue solid 1px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .work-description {
    max-width: 300px;
  }

  .work-screenshot {
    flex-shrink: 1;
    min-width: 70%;
    height: 100%;
    max-width: 1024px;
  }
}

@media screen and (min-width:1359px) {
  .left-container {
    min-width: 380px
  }
}


/*UTILITIES*/
/*Colors*/
.blue {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

/*Fonts*/
.major {
  font-family: 'Major Mono Display', monospace;
}
