@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans&display=swap');

/*Default cleaning :*/
* {
  padding: 0;
  margin: 0;
}

body {
  transition: all 1s;
  margin: 0;
  background-color: var(--theme-background-color);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.left-container {
  width: 100%;
  color: var(--theme-text-color);
  min-width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--theme-background-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.theme-form-wrapper {
  margin-top: auto;
}

#theme-select {
  box-shadow: inset 0px 0px 0px 1px var(--theme-border-color) ;
}

.right-container {
  width: 100%;
  color: var(--theme-text-color);
}

.work-card {
  box-shadow: inset 0px -1px 0px 0px var(--theme-border-color);
}

.work-description {

}

.work-screenshot {
  width: 100%;
}

@media screen and (min-width:640px) {
  .left-container {
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    flex: 0;
    min-width: 200px;
    height: 100vh;
  }

  .right-container {
    flex: 1;
  }

  #theme-select {
  box-shadow: inset 0px 1px 0px 0px var(--theme-border-color),
              inset -1px 0px 0px 0px var(--theme-border-color) ;
}
}

@media screen and (min-width:1024px) {
  .left-container {
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    min-width: 270px;
    align-self: flex-start;
  }

  .work-card {
    background-color: var(--theme-background-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .work-description {
    max-width: 300px;
  }

  .work-screenshot {
    flex-shrink: 1;
    min-width: 70%;
    height: 100%;
    max-width: 1024px;
  }
}

@media screen and (min-width:1359px) {
  .left-container {
    min-width: 380px
  }
}


:root {
  --theme-background-color: black;
  --theme-text-color: white;
  --theme-border-color: white;
}



/*UTILITIES*/
.hidden {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
}

.visible {
  max-height: 100px;
  opacity: 1;
  visibility: visible;
}

/*Colors*/
.black {
  color: black;
}

.white {
  color: white;
}

.blue {
  color: blue;
}

.blue {
  color: red;
}

.bg-black {
  background-color: blue;
}

.bg-blue {
  background-color: blue;
}

/*Fonts*/
.major {
  font-family: 'Major Mono Display', monospace;
}
